.App {
  margin: 24px;
  margin-top: 48px;
  min-height: 100%;
}

.app-container {
  min-height: 100vh;
  display: flex; 
  flex-direction: column; 
}

.main-content {
  flex-grow: 1;
  margin: 24px;
  margin-top: 32px;
  padding-bottom: 50px; 
}


